<md-content class="md-padding" layout="column">
    <h1>Add member page</h1>
    <form>
        <div  class="member-icon-container" flex>
            <img ng-src="{{ member.picture }}" alt="{{ member.name }}" style="width: 150px; height: 150px;"/>
        </div> 
        <md-input-container md-no-float>
          <i class="material-icons">ic_phone</i>
          <input ng-model="member.name" type="text" placeholder="Name">
        </md-input-container>
        <md-input-container md-no-float>
          <i class="material-icons">ic_phone</i>
          <input ng-model="member.email" type="text" placeholder="email">
        </md-input-container>
        <md-input-container md-no-float>
          <i class="material-icons">ic_phone</i>
          <input ng-model="member.dob" type="date" placeholder="Birthday">
        </md-input-container>
        <md-chips class="custom-chips" ng-model="availableGoals" md-on-append="newGoal($chip)">
          <md-chip-template>
            <span>
              <strong>{{$chip.goal}}</strong>
            </span>
          </md-chip-template>
        </md-chips>
        <md-button ng-click="addMember(member)">Add member</md-button>
    </form>
</md-content>