<div layout="column">
  <form novalidate>
    <md-content layout-padding layout="column">
        <md-input-container>
          <label>Username or Email</label>
          <input ng-model="signin.user.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="signin.user.password" type="password">
        </md-input-container>
        <div layout="row">
          <md-button data-ng-click="signin.signinUser(signin.user)" >Signin</md-button>
          <md-button data-ng-click="signin.goTo('register')">Register</md-button>
        </div>
        <div data-ng-show="signin.showOtherProviders">
          <h3>Sign In with other services</h3>
          <div layout="row">
            <md-button data-ng-repeat="provider in signin.providers" data-ng-click="signin.useProvider($event, provider)">{{ provider.name }}</md-button>
          </div>
        </div>
    </md-content>
  </form>
</div>
