<div layout="column">
  <form ng-submit="signin.signinUser(signin.user)" novalidate>
    <md-content layout-padding layout="column">
        <md-input-container>
          <label>Username or Email</label>
          <input ng-model="signin.user.username">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="signin.user.password" type="password">
        </md-input-container>
        <div layout="row">
          <md-button>Signin</md-button>
        </div>
    </md-content>
  </form>
</div>
